

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***********************NAVBAR*********************/
nav {
  z-index: 200;
  position: fixed !important;
  width: 100vw;
}

.logo {
  width:10rem;
}


.navbar-brand {
  max-width:17.25rem;
  padding:0 !important;
}

.nav a.nav-link {
  letter-spacing: 0.6px;
  cursor: pointer;
}

.nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: white !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top:3px solid rgb(255,255,255,0) ;
}

.navbar-nav  > li > a.active, .navbar-nav> li > a:focus{
border-top:3px solid #e9b5d2;
color:#e9b5d2 !important;
}

.navbar-nav  > li > a:hover {
  color:#e9b5d2 !important;
  border-top:3px solid #e9b5d2;
}

.icon{
  color:#e9b5d2 !important;
}

.icon:hover{
  color:white !important;
}

/****************HEADER*************/
.header-wraper {
  position: relative;
  background-color: black;
  background-size: cover;
  height:100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
}

.main-info h1{ 
  color: #e9b5d2;
  text-transform: uppercase;
  margin-top:25%;
}

.typed-text {
  font-size: 2rem;
  color: #e9b5d2;
}

.string {
  color: white;
}

.btn-main-offer {
  margin-top: 1em;
  margin-bottom: 10em;
  border: 1px solid #fc60a3;
  color:#e9b5d2 !important;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 12px;
}

.btn-main-offer:hover {
  color:black !important;
  background-color:#e9b5d2 ;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.2s ease-in-out;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width:100vw;
  z-index:1;
}

.arrow {
  font-size: 40px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  color: #fc60a3;
}

.arrow {
  animation-name: arrow;
  animation-timing-function: linear;
}
@keyframes arrow {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}